@{
    ViewBag.Title = "Home Page";
}
@*<head>
    <link rel="stylesheet" src="C:\Users\Rachel\Documents\Visual Studio 2015\Projects\RachelsRosesWebPages\RachelsRosesWebPages\style.css" />
</head>*@

@*I do assume that i have to do something with the render section here to "activate it"*@
@*@{ 
    var restockYN = false; 
}*@
<h4 class="title">My Pantry</h4>
<h6 class="title">
    The ingredient's measurements for the ounces remaining are cumulative through your use of the ingredient.
    The ingredient's measurement of the ounces consumed is from the last usage of the ingredient.
</h6>
<table>
    <tr>
        <th>Need a Restock?</th>
        <th>Ingredient</th>
        <th>Ounces Consumed</th>
        <th>Ounces Remaining</th>
    </tr>
    @foreach(var ingredient in ViewBag.consumptionTable) {
        <tr>
            <td>
            </td>
        </tr>
    }
</table>
