@{
    ViewBag.Title = "Home Page";
}
<style>
    h4, h6 {
        color: cadetblue; 
    }
    th, td, tr {
        text-align: center; 
    }
    td, th {
        border: 1px solid #ededed; 
        padding: 8px; 
    }
    tr:nth-child(even){
        background-color: #38ACEC; 

    }
</style>
<h4>Your Ingredient Density Table</h4>
<h6>The density is how much one measured cup of the ingredient weighs</h6>
@*This is where the user will be able to add ingredient densities to their databasea/densities table*@
<form action="/home/AddIngredientDensityToDensityTable" method="post">
    <input name="ingredientName" placeholder="Ingredient Name"/>
    <input name="densityValue" placeholder="Density For 1 cup of Ingredient" />
    <input type="submit" value="Add" />
</form>
<table>
    <tr>
        <th></th>
        <th>Ingredient</th>
        <th>Density</th>
    </tr>
    @foreach (var ingredient in ViewBag.densitytable) {
        <tr>
            <td><a href="/home.deleteIngredientFromDensityTable?name=@ingredient">Delete</a></td>
            <td>@ingredient.name</td>
            <td>@ingredient.density oz</td>
        </tr>
    }
</table>