<a href="/home/recipe"
    <br />
<h2><b>@ViewBag.currentRecipe</b></h2>
    <br />
<h3>Edit your recipe's ingredient's name or measurement</h3>
<h4>@ViewBag.currentIngredient</h4>

            @*<form action="/home/editingredientname?oldName=@ingredient.name&newName=@ViewBag.newName" method="post">
                <input name="newName" />
                <input type="submit" value="Edit Ingredient Name" />
            </form>*@

